doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/lib/bootstrap/3.0.3/css/bootstrap.css')
        link(rel='stylesheet', href='/lib/bootstrap/3.0.3/css/bootstrap-theme.css')
        link(rel='stylesheet', href='/lib/font-awesome/4.0.3/css/font-awesome.css')
        script(type='text/javascript', src='/lib/jquery/1.10.2/jquery.js')
        script(type='text/javascript', src='/lib/bootstrap/3.0.3/js/bootstrap.js')
    body
        block content